.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-top: 20px;

    background-color: #333333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.field {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
    width: 100%;
}

.field label {
    font-weight: bold;
}

.field input,
.field textarea {
    padding: 10px;
    border: 1px solid #555555;
    border-radius: 4px;
    background-color: #444444;
    color: #ffffff;
    font-size: 16px;
    transition: border-color 0.3s;
    resize: vertical;
}
.field input:focus,
.field textarea:focus {
    border-color: #777777;
    outline: none;
}